:host,
.pizza-builder-container {
    height: 100%;
    display: flex;
    width: 100%;
}

.pizza-creator-container {
    background: #fff;
    position: relative;
    z-index: 2;
    flex-grow: 1;
    margin-left: 340px;
    box-shadow: 0 1px 54px rgba(0, 0, 0, 0.27);
    padding: 20px 30px;
    overflow-y: scroll;
    height: 100%;
}
@media (max-width: 768px) {
    .pizza-builder-container {
        width: unset;
        flex-direction: column;
        background: #2e3744;
        align-items: center;
    }

    .pizza-creator-container {
        top: 250px;
        margin: 0;
        overflow-y: unset;
    }
}

